# Salin file ini menjadi .env dan isi dengan kredensial dari Google Cloud Console
# Copy this file to .env and fill with credentials from Google Cloud Console

GOOGLE_CLIENT_ID=masukkan_client_id_anda_di_sini
GOOGLE_CLIENT_SECRET=masukkan_client_secret_anda_di_sini
export GOOGLE_CLIENT_ID
export GOOGLE_CLIENT_SECRET
